@import "tailwindcss";

body {
  @apply bg-black text-white antialiased;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #1A1A1A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}